<div class='form-login'>
  <div
    style='background: transparent; color: white; border: none; width: 500px'
    class='form-container'
  >
    <h2 style='font-weight: bold;'>Login</h2>
    <form action='/login' method='POST'>
      <div style='display:flex; align-items: center;' class='form-group'>
        <i style='padding-right: 15px' class='fas fa-envelope'></i>
        <input id='email' name='email' type='text' placeholder='email' />
      </div>
      <div style='display:flex; align-items: center;' class='form-group'>
        <i style='padding-right: 15px' class='fas fa-lock'></i>
        <input id='password' name='password' type='password' placeholder='password' />
      </div>
      <input type='submit' class='btn btn-primary' value='Login' />
      <div class='register-button'>
        <a href='/register' class='btn btn-danger'>Registrarse</a>
      </div>
    </form>
  </div>
</div>