<div class='form-login'>
  <div
    style='background: transparent; color: white; border: none; width: 500px'
    class='form-container'
  >
    <h2 style='font-weight: bold;'>REGISTRO</h2>
    <form action='/register' method='POST'>
      <div style='display:flex; flex-direction: row; align-items: center;' class='form-group'>
        <i style='padding-right: 15px' class='fas fa-user'></i>
        <input id='firstName' name='firstName' type='text' placeholder='Nombre' />
      </div>
      <div style='display:flex; flex-direction: row; align-items: center;' class='form-group'>
        <i style='padding-right: 15px' class='fas fa-user'></i>
        <input id='lastName' name='lastName' type='text' placeholder='Apellido' />
      </div>
      <div style='display:flex; flex-direction: row; align-items: center;' class='form-group'>
        <i style='padding-right: 15px' class='fas fa-calendar-alt'></i>
        <input id='age' name='age' type='text' placeholder='Edad' />
      </div>
      <div style='display:flex; flex-direction: row; align-items: center;' class='form-group'>
        <i style='padding-right: 15px' class='fas fa-envelope'></i>
        <input id='email' name='email' type='text' placeholder='Email' />
      </div>
      <div style='display:flex; flex-direction: row; align-items: center;' class='form-group'>
        <i style='padding-right: 15px' class='fas fa-lock'></i>
        <input id='password' name='password' type='password' placeholder='Contraseña' />
      </div>
      <div style='padding-left: 27px'>
        <input type='submit' class='btn btn-primary' value='Registrar' />
      </div>
    </form>
    <a style='color: white; display: flex; font-weight: bold; justify-content: end;' href='/'>¡Ya
      tengo una cuenta!</a>
  </div>
</div>